*{
    margin: 0px;
    padding: 0px;
}

#navbar{
    background-color: #41555a;
}

#navbar ul{
    display: flex;
    padding: 15px 50px;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 8px;
    margin: 10px;
}

#navbar ul li a:hover
{
    color: black;
    background-color: white;
}

#about-section{
    top: 0;
    left: 0;
    background: #ffefe4;
    position: relative;
    height: 560px;
    width: 100%;
}

.about-item{
    padding: 0px 50px;
}

.about-item  img{
    border-radius: 50%;
    border: 2px solid #a5a5a5;
}

#members{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
    margin-bottom: 0px;
}

#about-section p{
    margin-top: 40px;
    /* font-family: 'Baloo Bhai 2', cursive; */
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 22px;
    padding: 0px 228px;
    color: #ff4400;
}

.h-primary
{
    font-size: 2.8rem;
    padding-top: 15px;
    font-family: 'Oswald', sans-serif;
}

.names{
    margin-top: 10px;
    font-family: 'Baloo Bhai 2', cursive;
    color: #ff4400;
}

.center
{
    text-align: center;
}

footer{
    bottom: 0;
    background: black;
    color: white;
    padding: 15px 10px;
}