<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistive Vision using Deep Learning</title>
    <link rel="stylesheet" href="../static/css/contact.css">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Baloo+Bhai+2:wght@600&family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        </ul>
    </nav>

    <section id="contact-section">
        <h1 class="h-primary center">Our Social Media</h1>
        <div id="members">
            <div class="contact-item">
                <img src="../static/about1.jpg" alt="image">
                <h3 class="names center">Rahul Singh Maures</h3>
                <a href="https://www.linkedin.com/in/rahulsingh731/" class="linkedin"><img src="../static/linkedin.png"
                    alt="linkedin"></a>
                    <a href="https://instagram.com/rahulsingh731/" class="insta"><img src="../static/insta.jpg"
                        alt="insta"></a>
                    </div>
                    
                    <div class="contact-item">
                        <img src="../static/about2.jpg" alt="image">
                        <h3 class="names center">Shubham Kargeti</h3>
                        
                        <a href="https://www.linkedin.com/in/shubham-kargeti-0b2398149/" class="linkedin"><img src="../static/linkedin.png"
                            alt="linkedin"></a>
                            <a href="https://instagram.com/shubham.kargeti/" class="insta"><img src="../static/insta.jpg"
                        alt="insta"></a>
                    </div>
                    
                    <div class="contact-item">
                        <img src="../static/about3.jpg" alt="image">
                        <h3 class="names center">Ajay Singh Panwar</h3>
                        
                        <a href="https://www.linkedin.com/in/ajay-singh-panwar-134890192/" class="linkedin"><img src="../static/linkedin.png"
                        alt="linkedin"></a>
                <a href="https://instagram.com/ajay_panwar_official/" class="insta"><img src="../static/insta.jpg"
                        alt="insta"></a>
            </div>
        </div>
    </section>
    <footer>
        <div class="center">
            Copyright &copy; SAM.com | All rights reserved
        </div>
    </footer>
</body>