<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistive Vision using Deep Learning</title>
    <link rel="stylesheet" href="../static/css/predict.css">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Baloo+Bhai+2:wght@600&family=Oswald:wght@500&display=swap" rel="stylesheet">
    <script src="../static/js/audio.js"></script>
</head>

<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        </ul>
    </nav>

    <section id="predict-section">
        <h3>This is the prediction</h3>
        <img src="static/file.jpg" alt="image">
        <h2>
            {{data}}
        </h2>
    </section>
    <footer>
        <div class="center">
            Copyright &copy; SAM.com | All rights reserved
        </div>
    </footer>
    
</body>

</html>